<h1>Welcome to Tic Tac Toe!</h1>
<form method="POST" action="/">
  <table>
    <tr>
      <td><input type="text" name="0"></td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
  </table>
  <input type="submit" value="Submit Move" id="submit"/>
</form>
